<div class="main-content">
  <div class=''>
   <h3>Mailbox</h3>
   <div class=''>
     <% @conversations.each do |conversation| %>
      <div class='card' style="height:50px;">
       <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <div style="float:left;">
          <%= link_to recipient.username,   conversation_messages_path(conversation)%>
        </div>
        <div style="float:right;">
          <%= time_ago_in_words(conversation.updated_at) %> ago
        </div>
      </div>
       <% end %>
      <% end %>
   </div>
  </div>
</div>
