<% @postings.each do |posting| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to posting.destination, posting %><br>
      <small class="author">Submitted <%= time_ago_in_words(posting.created_at) %> by <%= posting.user.email %></small>
    </h2>
  </div>
<% end %>